*{
    margin:0;
    padding:0;
    border:0;
}

#tabuleiro{
    /* width:70%;
    height:100%; */
    border-collapse: collapse;
}

#tabuleiro, th, td {
    border: 1px solid black;
}

#info{
    width: 29%;
    height:100%;
}
 
.linha{ 
    height:25px;
}
 
.casa{    
    width:25px;
    cursor: pointer;
}

.jogador {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    background-color: #000000;
    color: white;
    text-align: center;
    vertical-align: middle;
}
 
.casa_normal{
    background-color: #fff;
}
 
.jogador_selecionado{
    background-color: black;
    animation-duration: 500ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.casa_possivel {
    background-color: green;
    animation-duration: 500ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}